In [2]:
import pandas as pd
df = pd.read_csv('data/customers3.csv', index_col='고객ID')
df

      고객명  나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001  박태근  35   시흥  Electronics         75         70        78        92
C002  이영희  30   안양      fashion         85         92        88        85
C003  박지성  35   울산          NaN         95        110        91        88
C004  최민아  40   창원      Fashion         92        105        82        96
C005  정수빈  28   구로      Fashion         82         88        94        79
C006  윤태영  27   시흥  Electronics         88         95        85        91
C007  한유진  31   파주          NaN         68         65        77        83
C008  강민호  29   일산       Sports         98        125        96        90

### 데이터 수정

**replace()**
- 데이터 프레임이나 시리즈의 특정 값을 다른 값으로 바꿔주는 기능

In [3]:
df['거주도시'].replace('울산', '창원')

고객ID
C001    시흥
C002    안양
C003    창원
C004    창원
C005    구로
C006    시흥
C007    파주
C008    일산
Name: 거주도시, dtype: object

In [5]:
df['거주도시'].replace({'울산' : '창원'},{'시흥' : '부천'})

df

AttributeError: 'Series' object has no attribute '_replace_columnwise'

In [9]:
df['거주도시'] = df['거주도시'] + '시'

In [10]:
df['주요관심사'] = df['주요관심사'].str.upper()

df

      고객명  나이    거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001  박태근  35  시흥시시시시  ELECTRONICS         75         70        78        92
C002  이영희  30  안양시시시시      FASHION         85         92        88        85
C003  박지성  35  울산시시시시          NaN         95        110        91        88
C004  최민아  40  창원시시시시      FASHION         92        105        82        96
C005  정수빈  28  구로시시시시      FASHION         82         88        94        79
C006  윤태영  27  시흥시시시시  ELECTRONICS         88         95        85        91
C007  한유진  31  파주시시시시          NaN         68         65        77        83
C008  강민호  29  일산시시시시       SPORTS         98        125        96        90

거주도시를 ~~시까지 붙이고싶다면?

고객만족도와 재구매의사 점수의 총점을 보고싶다면?

In [13]:
df['총합'] = df['고객만족도(점)'] + df['재구매의사(점)']

df

,고객명,나이,거주도시,주요관심사,최근1년_방문빈도,평균구매액(만원),고객만족도(점),재구매의사(점),종합,총합
고객ID,,,,,,,,,,
C001,박태근,35,시흥시시시시,ELECTRONICS,75,70,78,92,170,170
C002,이영희,30,안양시시시시,FASHION,85,92,88,85,173,173
C003,박지성,35,울산시시시시,NaN,95,110,91,88,179,179
C004,최민아,40,창원시시시시,FASHION,92,105,82,96,178,178
C005,정수빈,28,구로시시시시,FASHION,82,88,94,79,173,173
C006,윤태영,27,시흥시시시시,ELECTRONICS,88,95,85,91,176,176
C007,한유진,31,파주시시시시,NaN,68,65,77,83,160,160
C008,강민호,29,일산시시시시,SPORTS,98,125,96,90,186,186

In [14]:
filter = df['총합'] >= 175

In [18]:
df.loc[filter, '결과'] = 'GOOD'
df.loc[~filter, '결과'] = 'BAD'

In [19]:
df

,고객명,나이,거주도시,주요관심사,최근1년_방문빈도,평균구매액(만원),고객만족도(점),재구매의사(점),종합,총합,결과
고객ID,,,,,,,,,,,
C001,박태근,35,시흥시시시시,ELECTRONICS,75,70,78,92,170,170,BAD
C002,이영희,30,안양시시시시,FASHION,85,92,88,85,173,173,BAD
C003,박지성,35,울산시시시시,NaN,95,110,91,88,179,179,GOOD
C004,최민아,40,창원시시시시,FASHION,92,105,82,96,178,178,GOOD
C005,정수빈,28,구로시시시시,FASHION,82,88,94,79,173,173,BAD
C006,윤태영,27,시흥시시시시,ELECTRONICS,88,95,85,91,176,176,GOOD
C007,한유진,31,파주시시시시,NaN,68,65,77,83,160,160,BAD
C008,강민호,29,일산시시시시,SPORTS,98,125,96,90,186,186,GOOD

Column 삭제

In [22]:
df.drop(columns = ['총합'], inplace=True)

df

,고객명,나이,거주도시,주요관심사,최근1년_방문빈도,평균구매액(만원),고객만족도(점),재구매의사(점),종합,결과
고객ID,,,,,,,,,,
C001,박태근,35,시흥시시시시,ELECTRONICS,75,70,78,92,170,BAD
C002,이영희,30,안양시시시시,FASHION,85,92,88,85,173,BAD
C003,박지성,35,울산시시시시,NaN,95,110,91,88,179,GOOD
C004,최민아,40,창원시시시시,FASHION,92,105,82,96,178,GOOD
C005,정수빈,28,구로시시시시,FASHION,82,88,94,79,173,BAD
C006,윤태영,27,시흥시시시시,ELECTRONICS,88,95,85,91,176,GOOD
C007,한유진,31,파주시시시시,NaN,68,65,77,83,160,BAD
C008,강민호,29,일산시시시시,SPORTS,98,125,96,90,186,GOOD

Row 삭제

In [24]:
df.drop(index = ['C003', 'C005'])

,고객명,나이,거주도시,주요관심사,최근1년_방문빈도,평균구매액(만원),고객만족도(점),재구매의사(점),종합,결과
고객ID,,,,,,,,,,
C001,박태근,35,시흥시시시시,ELECTRONICS,75,70,78,92,170,BAD
C002,이영희,30,안양시시시시,FASHION,85,92,88,85,173,BAD
C004,최민아,40,창원시시시시,FASHION,92,105,82,96,178,GOOD
C006,윤태영,27,시흥시시시시,ELECTRONICS,88,95,85,91,176,GOOD
C007,한유진,31,파주시시시시,NaN,68,65,77,83,160,BAD
C008,강민호,29,일산시시시시,SPORTS,98,125,96,90,186,GOOD

박지성의 주요관심사를 SPORTS로 변경해보자

In [25]:
df.loc['C003', '주요관심사'] = 'SPOARTS'

df

,고객명,나이,거주도시,주요관심사,최근1년_방문빈도,평균구매액(만원),고객만족도(점),재구매의사(점),종합,결과
고객ID,,,,,,,,,,
C001,박태근,35,시흥시시시시,ELECTRONICS,75,70,78,92,170,BAD
C002,이영희,30,안양시시시시,FASHION,85,92,88,85,173,BAD
C003,박지성,35,울산시시시시,SPOARTS,95,110,91,88,179,GOOD
C004,최민아,40,창원시시시시,FASHION,92,105,82,96,178,GOOD
C005,정수빈,28,구로시시시시,FASHION,82,88,94,79,173,BAD
C006,윤태영,27,시흥시시시시,ELECTRONICS,88,95,85,91,176,GOOD
C007,한유진,31,파주시시시시,NaN,68,65,77,83,160,BAD
C008,강민호,29,일산시시시시,SPORTS,98,125,96,90,186,GOOD

한유진의 거주도시를 부천시로, 주요관심사를 FASHION으로 수정해보자

In [26]:
df.loc['C007', ['주요관심사', '거주도시']] = ['FASION', '부천시시시시']

df

,고객명,나이,거주도시,주요관심사,최근1년_방문빈도,평균구매액(만원),고객만족도(점),재구매의사(점),종합,결과
고객ID,,,,,,,,,,
C001,박태근,35,시흥시시시시,ELECTRONICS,75,70,78,92,170,BAD
C002,이영희,30,안양시시시시,FASHION,85,92,88,85,173,BAD
C003,박지성,35,울산시시시시,SPOARTS,95,110,91,88,179,GOOD
C004,최민아,40,창원시시시시,FASHION,92,105,82,96,178,GOOD
C005,정수빈,28,구로시시시시,FASHION,82,88,94,79,173,BAD
C006,윤태영,27,시흥시시시시,ELECTRONICS,88,95,85,91,176,GOOD
C007,한유진,31,부천시시시시,FASION,68,65,77,83,160,BAD
C008,강민호,29,일산시시시시,SPORTS,98,125,96,90,186,GOOD